DATABASE_HOST=localhost
DATABASE_PORT=5401
DATABASE_USER=myuser
DATABASE_PASSWORD=secret
DATABASE_NAME=sms
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key
JWT_ACCESS_TOKEN_EXPIRATION=15m
THROTTLE_TTL=60
THROTTLE_LIMIT=10
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=user
SMTP_PASS=password
SMTP_FROM=noreply@school.local
